@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
}

.card > img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

p {
    font-size: 16px;
}

.content {
    padding: 2.5rem;
    text-align: center;
}


h2 {
    margin-bottom: 1rem;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.con {
    width: 300px;
    margin: 0 3rem;
    color: hsl(224, 23%, 55%);
}

.music {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    margin: 1.5rem 3rem;
    background-color: #fff;
    padding: 1rem 1rem;
    border-radius: 10px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.one {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.two {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.music > p {
    color: hsl(245, 75%, 52%);
    font-weight: 900;
    text-decoration: underline;
}

.music > p:hover {
    color: hsl(245, 75%, 70%);
    text-decoration: none;
    cursor: pointer;
}

button {
    border: 0;
    font-size: 16px;
    font-weight: 900;
    color: hsl(225, 100%, 98%);
    background-color: hsl(245, 75%, 52%);
    padding: 0.7rem 6rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

button:hover {
    background-color: hsl(245, 75%, 70%);
    cursor: pointer;
}

.cancel {
    color: hsl(224, 23%, 55%);
    font-weight: 900;
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}